<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shade_000.datahandler">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".data.source.network.NetworkBackgroundProcessingService"
            android:exported="false"
            />
       <provider
          android:authorities="com.example.shade_000.datahandler.access.provider"
          android:multiprocess="true"
          android:exported="false"
          android:name=".data.DataHandlerProvider"/>
        <activity
            android:name=".users.UserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
